.login-wrap { 
  height: 100%;
  background: #363636 url(//storage.designcrowd.com/common/images/v3/footer.png) repeat 0 0;
}

.login-head {
  color: $white;
  font-size: 3em;
}

.actions { 
  display: inline-block; 
  vertical-align: middle;
  margin-left: 14px;
}

.check-field { 
  color: $white; 
  margin-bottom: 35px;
}

.signup-link{ 
  color: $light-blue;  
  font-weight: 700;

  &:hover { color: (darken($light-blue, 10%)) }
}

.forgot-password-link {
  font-size: 0.85em;
  color: $light-blue;

  &:hover { color: (darken($light-blue, 10%)) }
}
