.col-md-2.sidebar-con
  = link_to new_channel_path do
    %i.ion-android-add
    Create Channel
  = link_to "Logout", destroy_user_session_path, method: "delete"

  Channels I Joined
  %ul.channel-list
    - @channels.each do |channels|
      %li= link_to channels.name, '#'
  My Channels

