.col-md-2.sidebar-con
  = link_to "#" do
    %i.ion-android-add
    Create Channel
  = link_to "Logout", destroy_user_session_path, method: "delete"

  %ul.channel-list
    - @channel.each do |channel|
      %li= link_to channel.name, '#'

